

  <div class="mx-auto max-w-xl lg:mx-0">
    <div class="flex">
      User: <%= @user_id %>
    </div>
  </div>

 
  <div class={"min-h-screen w-full  " <> @background}>
    <p class="text-center text-white">This is a large section</p>
  </div>

